html, body {
    height: 100%;
    width: 100%;
    /*background-color: #00E0D0;*/
}

body {
    margin: 0;
    font-size: 14px;
}

*, *:after , *:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}


/* Header
===================== */

header {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.header__title{
    color: #fff;
    text-align: left;
}

/*Navigation 
===================== */

.nav {
    display: flex;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    transition: color .2s linear;
    margin-right: 40px;

}

.nav__link:hover {
    color: #00E0D0;
}

.active {
    color: #00E0D0;
}

.menu__icon {
    display: none;
    width: 25px;
    padding: 15px 0;
    position: relative;
}

.menu__icon__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    margin: auto;
}

.menu__icon__item:after,
.menu__icon__item:before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
}

.menu__icon__item:after {
    bottom: 6px;
}

.menu__icon__item:before {
    top: 6px;
}
/* Main
===================== */

main {
    min-height: 100%;
    width: 100%;
    display: flex;
}

/* Aside
===================== */

aside {
    min-height: 100%;
    height: auto;
    width: 20%;
    background-color: gray;
    padding-top: 20px;

}

.aside__title {
    text-align: center;
    border-bottom: solid 2px #000000;
    margin: auto;
    max-width: 75%;
}

/*.list {*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/

/*}*/

.list__item {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;

}

.right__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right__aside__info {

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    background-color: #b2b25c;
}

.right__aside__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.right__aside__item {
    width: 70%;
    height: auto;
    margin: 15px;
}

.content {
    background-color: #b2b25c;
    width: 60%;
    height: 100%;
}

.main__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #c1c1c1;
}

.main__text {
    text-align: center;
    background-color: #fff;
    padding: 10px 35px;
    font-size: 20px;
}

.large {
    font-size: 500px;
    text-align: center;
    font-weight: 900;
}


/* Footer
===================== */

footer {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}


.footer__title {
    color: #ffffff;
}

.footer__content {
    color: #ffffff;
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
    .main__text {
        font-size: 17px;
    }

    .main__text.large {
        font-size: 600px;
    }

    .right__aside__item {
        margin: 5px;
        width: 80%;
    }
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
        justify-content: space-between;
    }

    aside {
        width: 100%;
    }
    .content{
        height: auto;
        width: 100%;
    }

    .main__text {
        height: 100%;
    }

    .right__aside__item {
        margin: 15px;
        width: 30%;
    }

}

@media (max-width: 800px) {
    .menu__icon {
        display: block;
    }
    .nav {
        display: flex;
        flex-direction: column;
        background-color: black;
        text-align: center;
        align-items: center;
    }

    .header {
        position: relative;
    }
    .nav {
        display: none;
        right: 0;
        top: 100%;
        position: absolute;
    }

    .nav.active{
        display: flex;
        flex-direction: column;
    }
    .nav__link{
        padding: 15px;
        margin: 0 20px;
    }
}

@media (max-width: 600px) {
    .header__title {
        font-size: 25px;
    }

    .aside__title {
        font-size: 20px;
    }

    .main__title {
        font-size: 18px;
    }

    .list__item {
        font-size: 14px;
    }

    .main__text {
        font-size: 14px;
    }

    .right__aside__info {
        font-size: 14px;
    }

    .footer__title {
        font-size: 18px;
    }

    .footer__content {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .header__title {
        font-size: 20px;
    }

    .aside__title {
        font-size: 15px;
    }

    .main__title {
        font-size: 14px;
    }

    .list__item {
        font-size: 12px;
    }

    .main__text {
        font-size: 12px;
    }

    .right__aside__info {
        font-size: 12px;
    }

    .footer__title {
        font-size: 15px;
    }

    .footer__content {
        font-size: 12px;
    }
}